<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }
    .left {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: left;
      font-size: 18px;

    }
    .right {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: right;
      font-size: 18px;

    }
    </style>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>
<body>
    <header>
        <div class="topright">
            <a href="/signin">Sign in</a>
            {% if login %}
            <a href="/">Log Out</a>
            {% else %}
            <a href="/login">Log In</a>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="left">
            {{date}}
        </div>
        <div class="right">
            <form method="post" action="/">
                <input placeholder="search for room" required name="roomsearch">
                <button type="submit">search</button>
                <div>
                    {% if not login %}
                    Please log in first
                    {% else %}
                        {% if not roomList %}
                            No room exists
                        {% else %}
                            <ul>roomlist
                            {% for room in roomList %}
                                <li><a href="/tododist/{{room.id}}">{{room.host}} || {{room.title}}</a></li>
                            {% endfor %}
                             </ul>
                        {% endif %}
                    {% endif %}

                </div>
            </form>
        </div>
    </main>

</body>
</html>
