{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <div class="w-full flex flex-wrap font-family-karla">
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex justify-center md:justify-center pt-12 md:pl-12 md:-mb-24">
                <img class="hidden md:block h-40 w-40 py-8 pr-14" src="https://i.ibb.co/YP8N5B7/todoLogo.png">
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32 text-purple-700">
                <p class="text-center text-5xl text-shadow-md font-bold">Join us!</p>

                <form class="flex flex-col pt-3 md:pt-8" action="/signin" method="POST">

<!--                    <div class="flex flex-col pt-4">-->
<!--                        <label for="name" class="text-xl font-semibold opacity-80">Name</label>-->
<!--                        <input type="text" id="inputName" name="name" required placeholder="Your Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-400 transition-colors">-->
<!--                    </div>-->

                    <div class="flex flex-col pt-4">
                        <label for="id" class="text-xl font-semibold opacity-80">Name</label>
                        <input type="text" id="inputID" name="id" required placeholder="한글,영문,숫자만 입력가능합니다." class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-400 transition-colors">
                    </div>

                    <div>
                        <div class="absolute text-sm text-red-600 inline">
                            <span id="error-message" class="font-semibold" class="relative"></span>
                        </div>
                    </div>


                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-xl font-semibold opacity-80">Password</label>
                        <input type="password" id="inputPassword" name="pwd" required placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-400 transition-colors">
                    </div>

                    <input type="submit" disabled value="Create Account" class="bg-gray-400 text-white font-bold text-lg p-2 mt-8 transition-colors">
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>Already you have account? <a href="/login" class="underline font-semibold hover:text-purple-400 transition-colors">Login here.</a></p>
                </div>
            </div>

        </div>

        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="https://images.unsplash.com/photo-1522199670076-2852f80289c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80">
        </div>
    </div>
    <script type="text/javascript" src="../static/dist/bundle.js"></script>
    <script type="text/javascript" src="../static/js/pages/signin.js"></script>
{% endblock %}