{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/todomain.css">
    <link rel="stylesheet" type="text/css" href="../static/todo.css">
    <link rel="stylesheet" href="../static/chat/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../static/chat/index.js"></script>
	<div class="main">
		<div class="left">
			<div class="left-items">
				<div>
					<div class="progress-set">
						<div class="cheerImageProgress center">
							<span class="js-completed completed">0% completed!</span>
						</div>
						<div class="toDoProgress center">
				  			<div class="js-toDoProgressBar toDoProgressBar"></div>
						</div>
					</div>
				</div>
				    <div id="main">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
      <div>
        <input type="text" id="test" placeholder="메시지를 입력해주세요..">
        <button onclick="send()">전송</button>
      </div>
    </div>
			</div>
		</div>
		<div class="right">
			<h1 class="toDoText">TO DO LIST</h1>
			<div class="toDoItems">
                <form class="js-toDoForm toDoForm center">
                    <div class="toDo-set addbtn">
                        <input class="js-toDoInput toDoInput" type="text" placeholder="TO DO?"/>
                        <button class="toDoBtn">submit</button>
                        <span class="js-empty empty">You can't leave this empty.</span>
                    </div>
                </form>
				<ul class="js-toDoList toDoList">
					{% if not todolist %}
					<li class="js-nothing nothing">Nothing to do</li>
					{% else %}
					{% for todo in todolist %}
					<li id="">
						<lable>
							<!-- if achivement==1: checked? -->
							<input type="checkbox" class="todoCheck">
							<span class="content">{{todo.goal}}</span>
						</lable>
						<span class="controlBtns">
							<img class="editBtn" src="../../../templates/static/images/edit.png">
							<img class="delBtn" src="../../../templates/static/images/delete.png">
						</span>
					</li>
					{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
    </div>
    <script type="text/javascript" src="../static/js/pages/todo.js"></script>
{% endblock %}